/* ================= CSS RESET ================= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= ROOT ================= */
html {
    scroll-behavior: smooth;
}

/* ================= GLOBAL ================= */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Parkinsans', sans-serif;
}

.philosopher {
    font-family: 'Philosopher', serif;
}