/* ================= CSS RESET ================= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= ROOT ================= */
html {
    scroll-behavior: smooth;
}

/* ================= GLOBAL ================= */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Parkinsans', sans-serif;
}

.philosopher {
    font-family: 'Philosopher', serif;
}


.cursor::after {
    content: "|";
    animation: blink 1s infinite;
    margin-left: 4px;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.nav-hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.nav-show {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

/* fade animation */

.fade-section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.fade-section.show {
    opacity: 1;
    transform: translateY(0);
}